
.hero {
    max-width: 320px;
    margin: 0 auto;
    background-color: var(--navy-blue);
    text-align: center;
    padding: 72px 0 72px;
    /* padding: calc(72px + 56px) 0 72px 0; */
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-m.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (min-resolution: 192dpi) {
.hero{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-m@2x.jpg);
    }
}
.hero-title {
    color: var(--white);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin: 0 auto 72px;
    max-width: 216px;
    align-items: center;
}
.hero-button {
    display: block;
    margin-right: auto;
    margin-left: auto;
   background-color: var(--iris);
    color: var(--white);
    font-weight: 500;
    line-height: 1.5;
    background-color: var();
    font-size: 16px;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
    /* font-family: inherit; */
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.hero-button:hover,
.hero-button:focus {
    background-color: var(--white);

}
@media screen and (min-width: 768px){
.hero {
    max-width: 768px;
    padding: 112px 0 112px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-t.jpg);

}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-t-@2x.jpg);
    }
}


.hero-title {
    color: var(--white);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    margin: 0 auto 36px;
    max-width: 496px;

  }

}

@media screen and (min-width: 1158px) {
.hero {
    max-width: 1440px;
    padding: 188px 0 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero.jpg);
  
}
@media screen and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero_d-@2x.jpg);
        }
}
.hero-title {
margin: 0 auto 48px;
 }
}