

.advantages-icon{
display: none;

}

.advantages-list{
    display: flex;
    /* align-items: flex-start;
    justify-content: flex-start; */
    flex-wrap: wrap;
    gap: 72px;
    padding-top: 96px;
    height: 100%;

}

.advantages-item{
display: block;
height: 100%;
}


.advantages-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    margin-bottom: 8px;
    color: var(--navy-blue);
    text-align: center;
}
.advantages-text {
    font-weight: 500;
    color: var(--slate);

}


.advantages-text {
    font-weight: 500;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
} 
@media screen and (min-width: 768px) {
.advantages-list {
    gap: 24px;

}
.advantages-item {
width: calc((100% - 24px) / 2)
}
.advantages-title{
text-align: left;
}
}

@media screen and (min-width: 1200px){
.advantages {
    padding-top: 120px;
    padding-bottom: 120px;
}

.advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
 }

.advantages-item {
    display: block;
    width: calc((100% - 3 * 24px) / 4)
}
.advantages-icon {
    display: flex;

}
.advantages-background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: var(--cloud);
    margin-bottom: 8px;
}
}
