:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    /* margin: 0 auto; */
        /* width: 100%; */
}
                            /* #region stail */
h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    margin: 0;
   padding: 0;

}

 img {
     display: block;
     max-width: 100%;
     height: auto;
     margin-top: 0;
     margin-bottom: 0;

 }
body {
    font-family: 'Roboto', sans-serif;
    color: var(--slate);
    background-color: var(--white);
    font-weight: 400;
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;   
}

/* вбирае пыдкреслення з поселань */
a {
text-decoration: none;
/* color: inherit; */
}
 h2, h3 {
    color: var(--navy-blue);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

}
                              /* #endregion stail */


                             /* #region header */

 .nav-list .nav-item-index {
color: var(--ocean);
position: relative;
color: var(--ocean);
justify-content: center;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .nav-item-index:after {
    position: absolute;
    width: 100%;
    left: 0;
    border-radius: 2px;
    height: 4px;
    background-color: var(--ocean);
    content: "";
 bottom: -1px;
}


.page-header {
border-bottom: solid 1px #E7E9FC;
box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background-color: #fff;

}
.header-container {
display: flex;
align-items: center;
}

/* .page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

} */
.header-nav {
    display: flex;
    align-items: center;
}
.nav-list{
    display: flex;
    gap: 40px;
    align-items: center;
    
    /* можна використовувати margin-right: 40px для тега li у класі,
     для останього li використовуємо margin-right: 0 для обнулення відступів) */
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--iris);
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}
.header-logo .logo-studio {
    color: var(--navy-blue);
}
.footer-logo .footer-studio {
    color: #F4F4FD;
}

.nav-link {
    display: block;
    padding: 24px 0 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    
}
.nav-link:hover ,
.nav-link:focus {
    color: var(--ocean);
}
.contacts {
 font-style: normal;
 margin-left: auto;

}
.contacts-link {
    display: block;
    padding: 24px 0;
}

.contacts-list {
display: flex;
gap: 40px;
margin-right: 0;
}

.contacts .contacts-link {
    /* font-weight: 400; іде по замовчуванню від браузера*/
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.contacts-link:hover ,
.contacts-link:focus {
    color: var(--ocean);
}
/* #endregion header */
                  



                                 /* #region hero */

.hero {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--navy-blue);
    text-align: center;
    padding: 188px 0 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero.jpg);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-title {
    color: var(--white);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
    max-width: 496px;
    align-items: center;
}

.hero-button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--iris);
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
    /* font-family: inherit; */
}
.hero-button:hover,
.hero-button:focus {
    background-color: var(--ocean);

    }
/* #endregion hero */

                  
                            /* #region our-advantages */
.advantages{
    padding-top: 120px;
    padding-bottom: 120px;
}
    
.our-advantages-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    /* display: none; */
}
.advantages-title {
    letter-spacing: 0.02em;
    line-height: 1.2;
    margin-bottom: 8px;
}
.advantages-list {
    display: flex;
    gap: 24px;
    /* width: 1128px; */
}
.advantages-item {
display: block;
    width: calc((100% - 3 * 24px) / 4)

}
.advantages-background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: var(--cloud);
    margin-bottom: 8px;
}






                                          /* #endregion our-advantages */

                
                                    /* #region team */
.team {
    background-color: var(--cloud);
    padding-top: 120px; 
    padding-bottom: 120px;
}
    
.team-div-padding {
   padding: 32px 0;
transition: box-shadow 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);;
    /* border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; */
}
.our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    
    margin-bottom: 72px;
} 
.team-title {
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.2;
    margin-bottom: 8px;
}
.team-list {
    display: flex;
    /* justify-content: space-between; */
    gap: 24px;
}

.team-item {
    background-color: var(--white);
    border-radius: 0 0 4px 4px;
    border: 1px solid var(--white);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);

    /* width: calc((100% - 72px) / 4); */
    width: calc((100% - 3 * 24px) / 4);
}
.team-text {
    font-size: 16px;
    text-align: center;
    margin-bottom: 8px;

}
.social-networks-list {
display: flex;
justify-content: center;
align-items: center;
gap: 24px;
} 
/* .social-networks-item {
} */

.social-networks-link {
background-color: var(--iris);
    fill: var(--cloud);
    border-radius: 50%;
    max-width: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks-link:hover,
.social-networks-link:focus{
background-color: var(--ocean);
fill: var(--cloud);
}
           /* #endregion team */
           

                                  /* #region Our Portfolio */
                                

.our-portfolio-section{
padding-top: 120px;
padding-bottom: 120px;
}
.our-portfolio {
   
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
} 

.portfolio-title {
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.portfolio-list {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    
}

.portfolio-item {
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
cursor: pointer;
}
.portfolio-item:hover {
 box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-overlay {
    position: relative;
    display: block;
    overflow: hidden;  
   
}
.portfolio-overlay-text {
position: absolute;
top: 0;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
 color: var(--cloud);
padding: 40px 32px;
background-color: var(--iris);
height: 100%;
width: 100%;
transform: translateY(100%);
/* box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
 transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.portfolio-overlay:hover .portfolio-overlay-text {
transform: translateY(0%);
}



.padding-images {
padding: 32px 16px;
border: 1px solid #E7E9FC;
border-top: none;
}

         /* #endregion Our Portfolio */
                

                                /* #region footer */


.footer {
background-color: var(--navy-blue);
padding-top: 100px;
padding-bottom: 100px;
margin: 0;
}
.footer-container{
display: flex;
align-items: baseline
}
.footer-icons .social-networks-list{
gap: 16px;
}

.footer-icons .social-networks-link {
padding: 8px;
}
.footer-icons .social-networks-link:hover,
.footer-icons .social-networks-link:focus {
    background-color: var(--green);
}

.footer-text {
    /* display: block; */
    color: var(--cloud);
    margin-top: 16px;
    max-width: 264px;
}
.footer-logo{
    /* display: inline-block; */
    margin-right: 120px;

}
.footer-text-icons {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);

} 

/* #endregion footer */